<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Poll Result - OPINIO</title>
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../js/vendor/modernizr-2.6.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
    <script>
      /* In-Field Label jQuery Plugin
       * http://fuelyourcoding.com/scripts/infield.html
       *
       * Copyright (c) 2009 Doug Neiner
       * Dual licensed under the MIT and GPL licenses.
       * Uses the same license as jQuery, see:
       * http://docs.jquery.com/License
       *
       * @version 0.1
       */(function(a){a.InFieldLabels=function(b,c,d){var e=this;e.$label=a(b);e.label=b;e.$field=a(c);e.field=c;e.$label.data("InFieldLabels",e);e.showing=!0;e.init=function(){e.options=a.extend({},a.InFieldLabels.defaultOptions,d);if(e.$field.val()!=""){e.$label.hide();e.showing=!1}e.$field.focus(function(){e.fadeOnFocus()}).blur(function(){e.checkForEmpty(!0)}).bind("keydown.infieldlabel",function(a){e.hideOnChange(a)}).change(function(a){e.checkForEmpty()}).bind("onPropertyChange",function(){e.checkForEmpty()})};e.fadeOnFocus=function(){e.showing&&e.setOpacity(e.options.fadeOpacity)};e.setOpacity=function(a){e.$label.stop().animate({opacity:a},e.options.fadeDuration);e.showing=a>0};e.checkForEmpty=function(a){if(e.$field.val()==""){e.prepForShow();e.setOpacity(a?1:e.options.fadeOpacity)}else e.setOpacity(0)};e.prepForShow=function(a){if(!e.showing){e.$label.css({opacity:0}).show();e.$field.bind("keydown.infieldlabel",function(a){e.hideOnChange(a)})}};e.hideOnChange=function(a){if(a.keyCode==16||a.keyCode==9)return;if(e.showing){e.$label.hide();e.showing=!1}e.$field.unbind("keydown.infieldlabel")};e.init()};a.InFieldLabels.defaultOptions={fadeOpacity:.5,fadeDuration:300};a.fn.inFieldLabels=function(b){return this.each(function(){var c=a(this).attr("for");if(!c)return;var d=a("input#"+c+"[type='text'],"+"input#"+c+"[type='password'],"+"textarea#"+c);if(d.length==0)return;new a.InFieldLabels(this,d[0],b)})}})(jQuery);$(function(){$("label").inFieldLabels()});

      var Data = {
        yes_percentage: <%= @yes_percentage %>,
        trues: <%= @trues %>,
        falses: <%= @falses %>,
        total: <%= @total %>
      };

      // There must be a flag for this?
      <% if false %>
      // Enable pusher logging - don't include this in production
      Pusher.log = function(message) {
        if (window.console && window.console.log) window.console.log(message);
      };

      // Flash fallback logging - don't include this in production
      WEB_SOCKET_DEBUG = true;
      <% end %>

      // Update the chart.
      var called = false;
      var update = function update(Data) {
        $('#left-count').animate({
          width: (1 - Data.yes_percentage) * 100 + '%'
        }, 5000, function() { /* Animation complete. */ });
        $('#no-count span').text(Data.falses);
        $('#yes-count span').text(Data.trues);
        $('#left-percentage').text(Math.round(100 * (1 - Data.yes_percentage)) + '%');
        $('#right-percentage').text(Math.round(100 * Data.yes_percentage) + '%');
        if (called)
          $('#live-vote-output').fadeIn(300, function() {
            number.find('span').text(Data.username);
          }).fadeOut(5000);
        else called = true;
      }

      var pusher = new Pusher('af559ff310637b1d44a8');
      var channel = pusher.subscribe('opinio');
      channel.bind('action_created', function(data) {
        // This is weird and should be fixed next.
        if (data.yes_percentage) {Data.yes_percentage = data.yes_percentage;}
        if (data.vote) {Data.vote = data.vote;}
        if (data.username) {Data.username = data.username;}
        if (data.trues) {Data.trues = data.trues;}
        if (data.falses) {Data.falses = data.falses;}
        if (data.total) {Data.total = data.total;}

        // Update the graph when Pusher pushes.
        update(Data);
      });

      // Update the graph when the page loads.
      $(function() { update(Data); });
    </script>
    </head>
    <body>
      <header>
        <div class="wrap">
          <h1>OPINIO</h1>
          <h2>Simple text message based polling.</h2>
          <ul id="logo-icons">
            <li><i class="icon-phone"></i></li>
            <li class="omega"><i class="icon-ok"></i></li>
          </ul>
        </div>
      </header>
      <div id="main">
        <div class="wrap">
          <h1 id="question-title">Would you participate in another hackathon at UT?</h1>
        </div>
        <div id="slider-container">
        <div id="left">
          <div id="left-sider"></div>
          <div class="bend" id="red"></div>
        </div>
        <div id="mid">
          <div class="count" id="left-count"><h4 id="left-percentage"></h4></div>
          <div class="count" id="right-count"><h4 id="right-percentage"></h4></div>
        </div>
        <div id="right">
          <div id="right-sider"></div>
          <div class="bend" id="blue"></div>
        </div>
      </div>
      <div id="lower-data" class="wrap">
        <div class="count-output" id="left-count-container">
          <h3>NO</h3>
          <p id="no-count"><span>0</span> votes</p>
        </div>
        <div id="live-vote-output">
          Vote submitted<br/>
          (###) ###-<span></span>
        </div>
        <div class="count-output" id="right-count-contaier">
          <h3>YES</h3>
          <p id="yes-count"><span>0</span> votes</p>
        </div>
      </div>
      <br style="clear: both"/>
    </div>
    <script src="/js/main.js"></script>
    </body>
</html>

